<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Receitas</h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        <div class="col-auto">
          <form class="table-search-form row gx-1 align-items-center">
            <div class="col-auto">
              <input type="text" id="search-incomes" name="searchincomes" class="form-control search-incomes" placeholder="Search">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn app-btn-secondary">Search</button>
            </div>
          </form>

        </div><!--//col-->
        <div class="col-auto">

          <select class="form-select w-auto" >
            <option selected value="option-1">All</option>
            <option value="option-2">This week</option>
            <option value="option-3">This month</option>
            <option value="option-4">Last 3 months</option>

          </select>
        </div>
        <div class="col-auto">
          <a class="btn app-btn-secondary" href="#">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            Download CSV
          </a>
        </div>
      </div><!--//row-->
    </div><!--//table-utilities-->
  </div><!--//col-auto-->
</div><!--//row-->


<nav id="incomes-table-tab" class="incomes-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
  <a class="flex-sm-fill text-sm-center nav-link active" id="incomes-all-tab" data-bs-toggle="tab" href="#incomes-all" role="tab" aria-controls="incomes-all" aria-selected="true">Todas</a>
  <a class="flex-sm-fill text-sm-center nav-link"  id="incomes-paid-tab" data-bs-toggle="tab" href="#incomes-paid" role="tab" aria-controls="incomes-paid" aria-selected="false">Pagas</a>
  <a class="flex-sm-fill text-sm-center nav-link" id="incomes-pending-tab" data-bs-toggle="tab" href="#incomes-pending" role="tab" aria-controls="incomes-pending" aria-selected="false">Pendentes</a>
  <a class="flex-sm-fill text-sm-center nav-link" id="incomes-cancelled-tab" data-bs-toggle="tab" href="#incomes-cancelled" role="tab" aria-controls="incomes-cancelled" aria-selected="false">Canceladas</a>
</nav>


<div class="tab-content" id="incomes-table-tab-content">
  <div class="tab-pane fade show active" id="incomes-all" role="tabpanel" aria-labelledby="incomes-all-tab">
    <div class="app-card app-card-incomes-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover mb-0 text-left">
            <thead>
            <tr>
              <th class="cell">Status</th>
              <th class="cell">Data</th>
              <th class="cell">Descrição</th>
              <th class="cell">Categoria</th>
              <th class="cell">Conta</th>
              <th class="cell">Valor</th>
              <th class="cell"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="cell">Pago</td>
              <td class="cell"><span>17 Oct</span><span class="note">2:16 PM</span></td>
              <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet eget volutpat erat</span></td>
              <td class="cell">Fixa</td>
              <td class="cell">Banco 1</td>
              <td class="cell">$259.35</td>
            </tbody>
          </table>
        </div><!--//table-responsive-->

      </div><!--//app-card-body-->
    </div><!--//app-card-->
  </div><!--//tab-pane-->
</div><!--//tab-content-->
